<?xml version="1.0" encoding="UTF-8" ?>
<entityFramework>
  <contexts>
    <context type="zad11.DAL.CustomDbContext, zad11">
      <databaseInitializer type="zad11.DAL.CustomDbInitializer, zad11" />
    </context>
  </contexts>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    <parameters>
      <parameter value="v11.0" />
    </parameters>
  </defaultConnectionFactory>
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
</entityFramework>
<connectionStrings>
    <add name="CustomDbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Zad11;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
</connectionStrings>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>